
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #f1eaea;
    line-height: 1.6;
}


header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header h2 {
    margin: 0;
    color: #333;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}


section:first-of-type {
    background-image: url('8228a33a12a1e22ec18d766745eab139594f0215');
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
    text-align: center;
    color: green;
}

section:first-of-type h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

section:first-of-type p {
    font-size: 18px;
    margin-bottom: 20px;
}

section:first-of-type button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

section:first-of-type button:hover {
    background-color: #e68900;
}


section:nth-of-type(2) {
    padding: 50px 20px;
}

section:nth-of-type(2) h2 {
    text-align: center;
    margin-bottom: 40px;
}


section:nth-of-type(2) div {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}


footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 15px;
    margin-top: 40px;
}
